img {
	margin: 0;
	padding: 0;
	border: 3px solid #FFF;
}
h4 {
	margin: 0;
	float: left;
    max-width: 40rem;
}
.hotel-highlights {
	position: relative;
	bottom: 4.25rem;
	margin: 0 !important;
	padding: .5rem 1rem;
	background-color: #FFF;
	filter:alpha(opacity=80); /* IE */
    -moz-opacity:0.8; /* Mozilla */
    opacity: 0.8;
    text-align: right;
}
.hotel-highlights span {
	margin-top: 0.2rem;
	margin-bottom: 0.5rem;
	font-size: 1.375rem;
}
.fi-burst-sale { 
	font-size: 24px;
}
.fi-star {
	font-size: 18px;
}
.fi-info {
    font-size: 24px;
    color: #222;
    cursor: pointer;
}
.fi-background {
	position: relative;
	top: 2rem;
	float: right;
	right: .75rem;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 18px;
    line-height: 1.5rem;
    text-align: center;
    background: #fff;
    filter:alpha(opacity=80); /* IE */
    -moz-opacity:0.8; /* Mozilla */
    opacity: 0.8;
    z-index: 3;
}