.row {
	background: #FFF;
}
.thumbnails img {
	margin: 3px 0;
}
.more-photos {
	width: 90px;
	height: 90px;
	text-align: center;
	vertical-align: middle;
	margin: 0;
	display: inline-block;
	position: relative;
}
.more-photos a {
	width: 100%;
	position: absolute;
	top: 70%;
	left: 0;
}
.map-container {
	min-height: 90px;
}
.map-container .map {
	overflow: hidden;
	max-height: 70px;
}
.map-container p {
	font-size: .75rem;
	border: 1px solid #c5e8f3;
	border-top: 0;
    background: #f2fafc;
	text-align: center;
	vertical-align: baseline;
	margin: 0;
}