.row {
	background: #FFF;
}
.fixed h2 {
	background: #FFF;
	padding: .5rem 1rem;
	margin: 0;
}
.title-container {
	padding: 0;
}
.row.first {
	margin-top: 4.2rem;
}
h3 {
	margin-top: 0;
}
.panel h3 {
	margin-top: -10px !important;
}
p,
ul li {
	font-size: .8rem;
}
ul {
	margin: 0;
}
ul li {
	line-height: 1.5rem;
	list-style-type: none;
}
ul li.last {
	margin-top: 1rem;
}
span {
	font-weight: bold;
}
.thumbnails img {
	margin: 3px 0;
}
.more-photos {
	width: 70px;
	height: 90px;
	text-align: center;
	vertical-align: middle;
	margin: 0;
	display: inline-block;
	position: relative;
}
.more-photos a {
	width: 100%;
	position: absolute;
	top: 40%;
	left: .5rem;
	font-size: .8rem;
}
.fi-camera {
	font-size: 14px;
	position: relative;
	top: 2px;
}
.map-container {
	min-height: 90px;
}
.map-container .map {
	overflow: hidden;
	max-height: 70px;
}
.map-container p {
	font-size: .75rem;
	line-height: 1.4rem;
	border: 1px solid #c5e8f3;
	border-top: 0;
    background: #f2fafc;
	text-align: center;
	vertical-align: baseline;
	margin: 0;
}

table {
  margin: 2rem 0 1.25rem 0;
  width: 100%;
}
table tr td {
	 vertical-align: top;
}
table tr th {
	font-weight: normal !important;
	font-size: .75rem !important;
}
table tr th.book-col,
table tr th.thumb-col {
	width: 12%;
}

table tr th.price-col {
	width: 70%;
}
table tr th.room-type-col {
	width: 25%;
}
table ul li {
	font-size: .25rem;
}

table td.hotel-additional-info {
	width: 20%;
}
table td.price {
	text-align: right;
}
table td.price span {
	font-size: 1.5rem;
	font-weight: normal;
}
table td.price strike {
	color: #aaa;
}
table td.book-btn {
	text-align: center;
}

p.show-room-container {
	font-size: .75rem;
	margin-top: .5rem;
}
.room-description {
	box-sizing: border-box;
    padding-right: 2%;
    width: 43%;
    display: inline-block;
    vertical-align: top;
    font-size: .7rem;
}
.room-options {
	box-sizing: border-box;
    width: 56%;
    display: inline-block;
    vertical-align: top;
}
.room-details p,
.bed-choices p,
.extra-bed-choices p {
	margin-bottom: .2rem;
}

ul.bulleted {
	margin-left: 1rem;
	display: inline-block;
}
ul.bulleted li {
	line-height: 1rem;
	list-style-type: none;
	float: left;
	padding: 0 3px 0 0;
}
ul.bulleted li:after {
	content: ' |';
}
ul.bulleted li.last {
	margin-top: 0;
	padding: 0;
}
ul.bulleted li.last:after {
	content: ' ';
	margin-top: 0;
}
.fi-burst-sale { 
	font-size: 24px;
}
.sale {
	color: #f08a24;
}

.collapsed {
  height: 0px;
  overflow: hidden;
  -moz-animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  -moz-animation-name: collapse;
  -webkit-animation-name: collapse;
}

@-moz-keyframes collapse {
  from {
    height: auto;
  }
  to {
    height: 0px;
  }
}

@-webkit-keyframes collapse {
  from {
    height: auto;
  }
  to {
    height: 0px;
  }

.expanded {
  height: auto;
  -moz-animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  -moz-animation-name: expand;
  -webkit-animation-name: expand;
}

@-moz-keyframes expand {
  from {
    height: 0px;
  }
  to {
    height: auto;
  }
}

@-webkit-keyframes expand {
  from {
    height: 0px;
  }
  to {
    height: auto;
  }
}
