.row {
	background: #FFF;
}
.fixed h2 {
	background: #FFF;
	padding: .5rem 1rem;
	margin: 0;
}
.title-container {
	padding: 0;
}
.row.first {
	margin-top: 4.2rem;
}
h3 {
	margin-top: 0;
}
.panel h3 {
	margin-top: -10px !important;
}
.thumbnails img {
	margin: 3px 0;
}
.more-photos {
	width: 70px;
	height: 90px;
	text-align: center;
	vertical-align: middle;
	margin: 0;
	display: inline-block;
	position: relative;
}
.more-photos a {
	width: 100%;
	position: absolute;
	top: 50%;
	left: 0;
	font-size: .5rem;
}
.fi-camera {
	font-size: 14px;
	position: relative;
	top: 2px;
}
.map-container {
	min-height: 90px;
}
.map-container .map {
	overflow: hidden;
	max-height: 70px;
}
.map-container p {
	font-size: .75rem;
	line-height: 1.4rem;
	border: 1px solid #c5e8f3;
	border-top: 0;
    background: #f2fafc;
	text-align: center;
	vertical-align: baseline;
	margin: 0;
}

table {
  margin: 2rem 0 1.25rem 0;
  width: 100%;
}
table tr td {
	 vertical-align: top;
}
table tr th {
	font-weight: normal !important;
	font-size: .75rem !important;
}
table tr th.book-col,
table tr th.thumb-col {
	width: 12%;
}

table tr th.price-col {
	width: 70%;
}
table tr th.room-type-col {
	width: 25%;
}
table ul li {
	font-size: .25rem;
}

table td.hotel-additional-info {
	width: 20%;
}
table td.price {
	text-align: right;
}
table td.price span {
	font-size: 1.5rem;
}
table td.price strike {
	color: #aaa;
}
table td.book-btn {
	text-align: center;
}

p.show-room-container {
	font-size: .75rem;
	margin-top: .5rem;
}

.collapsed {
  height: 0px;
  overflow: hidden;
  -moz-animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  -moz-animation-name: collapse;
  -webkit-animation-name: collapse;
}

@-moz-keyframes collapse {
  from {
    height: auto;
  }
  to {
    height: 0px;
  }
}

@-webkit-keyframes collapse {
  from {
    height: auto;
  }
  to {
    height: 0px;
  }

.expanded {
  height: auto;
  -moz-animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  -moz-animation-name: expand;
  -webkit-animation-name: expand;
}

@-moz-keyframes expand {
  from {
    height: 0px;
  }
  to {
    height: auto;
  }
}

@-webkit-keyframes expand {
  from {
    height: 0px;
  }
  to {
    height: auto;
  }
}