
/*-  CSS "libraries"
----------------------------------------------------------------------*/
@import url("foundation.css");
@import url("foundation-icons.css");

body {
	background: #2A2826;
}
fieldset {
	border: 0;
	margin-top: 0;
}