.card {
  position: absolute;
  top: 100px;
  left: 100px;
  
  perspective: 1000;
  -webkit-perspective: 1000;
  
  transition: 0.6s;
  -webkit-transition: 0.6s;
  
  -moz-animation-duration: 3s;
  -webkit-animation-duration: 3s;
  -moz-animation-name: slidein;
  -webkit-animation-name: slidein;
}

.swiped {
  margin-left:100%;
  -moz-animation-duration: 3s;
  -webkit-animation-duration: 3s;
  -moz-animation-name: slideout;
  -webkit-animation-name: slideout;
}

@-moz-keyframes slidein {
  from {
    margin-left:-100%;
  }
  to {
    margin-left:0%;
  }
}

@-webkit-keyframes slidein {
  from {
    margin-left:-100%;
  }
  to {
    margin-left:0%;
  }
}

@-moz-keyframes slideout {
  from {
    margin-left:0%;
  }
  to {
    margin-left:100%;
  }
}

@-webkit-keyframes slideout {
  from {
    margin-left:0%; 
  }
  to {
    margin-left:100%;
  }
}

.columns {
  position: relative;
}

/* this is to level out the flipped card */
.flipped {
  transform: translate(0px ,0px) rotate(0deg) !important;
  -webkit-transform: translate(0px, 0px) rotate(0deg) !important;  
}

/* flip the internal state card */
.card.flipped .flipper {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}
/* I need to get rid of this hardcoding  */
.flip-container, .cardFront, .cardBack {
  width: 970px;
  height: 620px;
}

/*  Sets up the animation for the flip */
.flipper {
  transition: 0.6s;
  -webkit-transition: 0.6s;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;

	position: relative;
}

/* Stack the front and back on top of each and don't show the backs  */
.cardFront, .cardBack {
  backface-visibility: hidden;
	-webkit-backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* Put the front in front and reset any rotation is my have inherited */
.cardFront {
	z-index: 2;
  transform: rotateY(0deg);
	-webkit-transform: rotateY(0deg);
}

/* Make the back scroll if there is overflow and start out already flipped */
.cardBack {
  overflow: scroll;
  transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
}