h1 {
  color: white;
}

body {
  background-color: #2A2826;
  /* this is wasteful with HTTP resources, but fun (like this comment!) */
  /*background-image: url("../img/loading-ring.gif");*/
  background-repeat: no-repeat;
  background-position: center;
}

#cards {
  margin-top: 20px;
  position: relative;
  
  margin: 5 0px auto 0px auto;
}

.card {
  position: relative;
  top: 0px;
  left: 0px;
  
  /* we use transitions for the flip */
  transition: 0.6s;
  -webkit-transition: 0.6s;
  
  /* and CSS animation for the swipes  */
  -moz-animation-duration: 2.25s;
  -webkit-animation-duration: 2.25s;
  -moz-animation-name: slidein;
  -webkit-animation-name: slidein;
}

.swiped {
  margin-left: 120%;
  -moz-animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  -moz-animation-name: slideout;
  -webkit-animation-name: slideout;
}

@-moz-keyframes slidein {
  from {
    left: -100%;
  }
  to {
    left: 0px;
  }
}

@-webkit-keyframes slidein {
  from {
    left: -100%;
  }
  to {
    left: 0px;
  }
}

@-moz-keyframes slideout {
  to {
    transform: translate(4000px ,0px) !important;
  }
}

@-webkit-keyframes slideout {
  to {
    -webkit-transform: translate(4000px ,0px) !important;
  }
}

.columns {
  position: relative;
}

/* this is to level out the flipped card */
.flipped {
  transform: translate(0px ,0px) rotate(0deg) !important;
  -webkit-transform: translate(0px, 0px) rotate(0deg) !important;  
}

/* flip the internal state card */
.card.flipped .flipper {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}
/* I need to get rid of this hardcoding  */
.flip-container, .cardFront, .cardBack {

}

/*  Sets up the animation for the flip */
.flipper {
  transition: 0.6s;
  -webkit-transition: 0.6s;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;

	position: relative;
}

/* Stack the front and back on top of each and don't show the backs  */
.cardFront, .cardBack {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* Put the front in front and reset any rotation is my have inherited */
.cardFront {
	z-index: 2;
  transform: rotateY(0deg);
	-webkit-transform: rotateY(0deg);
}

/* Make the back scroll if there is overflow and start out already flipped */
.cardBack {
  /*position: relative;*/
  background-color: white;
  border: 3px solid #FFF;
  display: inline-block;
  overflow: hidden;
  transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
}

.fi-close-box {
  z-index: 50000;
  cursor: pointer;
  position: absolute;
  top: 0px;
  left: 0px;
}

.fi-arrow-right-box {
  font-size: 20px;
  position: absolute;
  top: 50%;
}

i.fi-arrow-left, i.fi-arrow-right {
  filter:alpha(opacity=80); /* IE */
  -moz-opacity:0.8; /* Mozilla */
  opacity: 0.8;
  
  font-size: 24px;
  color: #222;
  cursor: pointer;
  display: inline-block;  
}

.fi-arrow-left-box {
  margin-left: 25px;
  left: 0px;
}

.fi-arrow-right-box {
  margin-right: 25px;
  right: 0px;
}

iframe {
  border: 3px solid #FFF;
}
